# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

service powercfg /vendor/bin/powercfg.sh
    user root
    group root
    disabled
    oneshot

# Initialization
on property:sys.boot_completed=1
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/*
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/*
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/*
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/schedutil/*
   chmod 0644 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
   chmod 0644 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
   chmod 0644 /dev/stune/top-app/schedtune.boost
   write /dev/.wipe_param_init "1"

# Disabled
on property:persist.spectrum.profile=false
   # initialization is handle by xiaomi parts now
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
   setprop sys.io.scheduler "zen"

# Performance
on property:persist.spectrum.profile=1
    start powercfg
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    setprop sys.io.scheduler "deadline"
    write /sys/block/sdb/queue/scheduler deadline
    write /sys/block/sdc/queue/scheduler deadline
    write /sys/block/sdd/queue/scheduler deadline

# Balance
on property:persist.spectrum.profile=3
    start powercfg
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    setprop sys.io.scheduler "zen"
    write /sys/block/sdb/queue/scheduler zen
    write /sys/block/sdc/queue/scheduler zen
    write /sys/block/sdd/queue/scheduler zen

# Battery
on property:persist.spectrum.profile=5
    start powercfg
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    setprop sys.io.scheduler "noop"
    write /sys/block/sdb/queue/scheduler noop
    write /sys/block/sdc/queue/scheduler noop
    write /sys/block/sdd/queue/scheduler noop
