# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

service powercfg /vendor/bin/powercfg.sh
    class main
    user root
    group root
    disabled
    oneshot

# Initialization
on property:sys.boot_completed=1
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/*
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/*
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/*
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/schedutil/*
   chmod 0644 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
   chmod 0644 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
   chmod 0644 /dev/stune/top-app/schedtune.boost
   # initial after boots
   setprop persist.spectrum.profile 2

# Balance
on property:persist.spectrum.profile=0
    write /dev/.wipe_param_init "3"
    start powercfg
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    setprop sys.io.scheduler "zen"
    write /sys/block/sdb/queue/scheduler zen
    write /sys/block/sdc/queue/scheduler zen
    write /sys/block/sdd/queue/scheduler zen

# Performance
on property:persist.spectrum.profile=1
    write /dev/.wipe_param_init "1"
    start powercfg
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    setprop sys.io.scheduler "deadline"
    write /sys/block/sdb/queue/scheduler deadline
    write /sys/block/sdc/queue/scheduler deadline
    write /sys/block/sdd/queue/scheduler deadline

# Battery (default profile)
on property:persist.spectrum.profile=2
    write /dev/.wipe_param_init "5"
    start powercfg
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    setprop sys.io.scheduler "noop"
    write /sys/block/sdb/queue/scheduler noop
    write /sys/block/sdc/queue/scheduler noop
    write /sys/block/sdd/queue/scheduler noop

# Gaming
on property:persist.spectrum.profile=3
    write /dev/.wipe_param_init "0"
    start powercfg
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    setprop sys.io.scheduler "deadline"
    write /sys/block/sdb/queue/scheduler deadline
    write /sys/block/sdc/queue/scheduler deadline
    write /sys/block/sdd/queue/scheduler deadline
